h1 {
  font-family: 'Courier New', monospace;
}
body {
      background-image: url("https://wallpaperaccess.com/full/410283.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      color:White;
    }

