header {
  font-family: 'Courier New', monospace;
}
body {
      background-image: url("https://w0.peakpx.com/wallpaper/371/806/HD-wallpaper-minimalist-cat-window-sleeping-cat-minimalism-minimalist-artist-artwork-digital-art.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      color:White;
    }

