h1 {
  font-family: 'Courier New', monospace;
  text-align: center;
  padding: 10px;
  margin: 0px;
}

body {
      background-image: url("https://images.unsplash.com/photo-1574610758891-5b809b6e6e2e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
      background-repeat: no-repeat;
      background-size: cover;
      color:white;
      margin:50px;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: auto;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 38px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.sidebarimg {
  float: left;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>
h1 {
  font-size: 40px;
}

h2,h3 {
  font-size: 30px;
  margin-left: 50px;
}

p {
  font-size: 28px;
  margin-left: 25px;
}

img {
  float: right;
  margin-right: 15px;
}

form {
  margin-left: 50px;
  margin-bottom: 50px;
}

.header {
  padding: 12px;
  background: #170000;
  color: white;
  font-size: 40px;
  max width: auto;
}

footer {
  text-align: left;  
  font-size: 20px;
  padding: 5px;
  background-image: url("https://external-preview.redd.it/6m72dAJqmUS4ndz6ZWhh8O2GByqRpAtulykR7j9rf48.png?auto=webp&v=enabled&s=d0ab1ae9aa8e2a1cf91d92277d5abbe01850e544");
  background: #2A272A;
  color: white;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .header .main .sidenav {
    width: 100%;
  }
}

